---
---

@import "{{ site.theme }}";

.wrapper {
  > nav {
    margin-left: 300px;
    text-align: left;

    li a::before {
      margin-right: 3px;
    }

    .tag-h1 a::before {
      content: "-";
    }
    .tag-h2 a::before {
      content: "--";
    }
    .tag-h3 a::before {
      content: "---";
    }
    .tag-h4 a::before {
      content: "----";
    }
  }
}

footer {
  margin-left: 335px;
}
