---
---

@import "{{ site.theme }}";

header {
  padding-bottom: 0;
}
.home-link {
  margin-top: 15px;
  font-size: 1.3em;
  color: rgb(66, 118, 182);
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 30%;
  background-color: #eee;
  position: absolute;
  left: 20px;
}

.wrapper {
  > nav {
    margin-left: 300px;
    text-align: left;

    ul {
      overflow-y: auto;
      max-height: 65vh;
    }

    li a::before {
      margin-right: 3px;
    }

    .tag-h1 a::before {
      content: "-";
    }
    .tag-h2 a::before {
      content: "--";
    }
    .tag-h3 a::before {
      content: "---";
    }
    .tag-h4 a::before {
      content: "----";
    }
  }
}

footer {
  margin-left: 335px;
}

@media print, screen and (max-width: 1060px) {
  footer {
    margin-left: unset;
  }
}
